#registration
  = render "pages/logo"
  .container
    .sub-container.left
      %h1 Sign Up
      = form_for user do |f|
        %fieldset
          %dd= f.text_field :email, placeholder: "Email"

          %dd= f.password_field :password, placeholder: "Password"

          %dd= f.password_field :password_confirmation, placeholder: "Password Confirmation"

        %fieldset.actions
          = f.submit 'Sign Up'
    .sub-container.right
      %h1 What is the carpool?
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at aliquam leo, id vehicula lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam bibendum, urna in pharetra congue, sapien ex varius ante, a egestas neque velit non tellus. Nam lacinia tincidunt placerat. Maecenas urna turpis, mattis et commodo ac, ultricies vel dolor. Cras lacinia tincidunt eros, tincidunt volutpat mauris eleifend ac. Sed pulvinar sem at felis finibus, cursus luctus lacus pulvinar. Integer nec libero ut eros blandit ultricies. Curabitur dapibus quis sem nec pharetra. Maecenas sed consequat elit. Aliquam tortor metus, fermentum eget felis ac, sodales blandit metus. Donec condimentum diam ut lorem efficitur, lobortis finibus tortor malesuada.

      Curabitur sit amet consectetur urna, at accumsan dui. Nunc ut consequat ipsum. Morbi dapibus libero augue, sit amet dapibus justo vehicula id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed aliquam vehicula neque, sit amet tempus ante porta eget. Donec sagittis blandit diam id condimentum. Aenean dictum tortor in ante eleifend, non tempus leo venenatis. Duis in malesuada magna, quis vulputate sapien. Nulla eget consectetur augue, quis rutrum sem.
= render 'pages/footer'
